<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the oldest student in the class:
<%= render 'students/student' %>
<p>Classroom Info</p>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
<p>Student Info</p>
<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
  <% end %> 